<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookings">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BooKings">

        <activity
            android:name=".WellnessActivity"
            android:exported="true"/>
        <activity
            android:name=".PersonalData"
            android:exported="true"/>
        <activity
            android:name=".RoomsActivity"
            android:exported="true"/>
        <activity
            android:name=".SafariActivity"
            android:exported="true"/>
        <activity
            android:name=".Bedroom"
            android:exported="true"/>
        <activity
            android:name=".Eventroom"
            android:exported="true"/>

        <activity
            android:name=".ActivitiesActivity"
            android:exported="true"/>
        <activity
            android:name=".HomeActivity"
            android:exported="true"/>
        <activity
            android:name=".RegisterActivity"
            android:exported="true"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true"/>
        <activity
            android:name=".ContactUs" />
        <!-- Update: Kombinierte Aktivität für Buchungsverwaltung -->
        <activity
            android:name=".BookingManagerActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>